@tailwind base; /* init styles */
@tailwind components;
@tailwind utilities; /* tailwind classes */

@layer base{
  :root, [data-theme] {
    background-color: var(--fallback-b1);
  }
  html, body{
    @apply font-semibold tracking-wide bg-primary-content text-base-200
    ;
  }
  a{
    @apply text-secondary;
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@layer components{
  .primary-btn{
    @apply w-full bg-primary 
    text-primary-content font-bold
    text-lg py-3 rounded-lg text-center hover:bg-accent transition-colors;
  }
}

@layer utilities{
  .size-custom{
    @apply w-[1.375rem] h-[1.375rem]; /* 22px */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; 
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}